/*---------------------------------------
  PRIVACY        
-----------------------------------------*/

body {
    counter-reset: h2counter;
}

h1 {
    counter-reset: h2counter;
    counter-reset: h3counter;
}

h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

.privacy-section {
    background-color: white;
    position: relative;
    min-height: 670px;
}

.privacy-section svg {
    position: absolute;
    right: 0;
    left: 0;
}

.privacy-section>svg {
    top: 0;
}

.privacy-section .container+svg {
    top: auto;
    bottom: -1px;
}

.privacy-section .row {
    position: relative;
    z-index: 22;
}

.indent-list {
    list-style: none;
}
